<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        <title>Base</title>
        {% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        {% block css %}
        {% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        <div id="main" class="pure-g">
            <div id="left" class="pure-u-1-4"></div>
            <div id="content" class="pure-u-1-2">
                {% block content %}{% endblock %}
            </div>
            <div id="right" class="pure-u-1-4"></div>
        </div>
        <div id="footer">
            <div class="pure-g">
                {% block footer %}
                <a class="pure-u-1-1" href="https://github.com/csci5117s23/homework-1-kafka050">Github Repo</a>
                {% endblock %}
            </div>
        </div>
    </body>
</html>